Next cell can be skipped as you have already downloaded model from Open Model Zoo in the DL Workbench.

**Warning**: If you execute this cell, new model will be downloaded and you will have to change model paths in the next cells manually.
