Next cell can be skipped as you have already performed INT8 calibration for your model in the DL Workbench.

**Warning**: If you execute this cell, new optimized model will be created and you will have to change model paths in the next cells manually.
