`--input_symbol` | Symbol file (for example, model-symbol.json) that contains a topology structure and layer attributes.
`--nd_prefix_name` | Prefix name for args.nd and argx.nd files.
`--pretrained_model_name` | Name of a pretrained MXNet model without extension and epoch number. This model will be merged with args.nd and argx.nd files.
`--save_params_from_nd` | Enable saving built parameters file from .nd files.
`--legacy_mxnet_model` | Enable MXNet loader to make a model compatible with the latest MXNet version. Use only if your model was trained with MXNet version lower than 1.0.0.
`--enable_ssd_gluoncv` | Enable pattern matchers replacers for converting gluoncv ssd topologies.
