## Check {{ 'Optimized' if is_optimized_project }} Model Format <a name="check-{{ 'optimized-' if is_optimized_project }}model-format"></a>

Below you can find the location of your IR model files.
Make sure the paths below point to the location of model files you are working with and make changes if necessary.
