## Summary

OpenVINO toolkit components covered in this tutorial enable you:
- [Model Downloader](https://docs.openvino.ai/latest/omz_tools_downloader.html) to download models from the Intel [Open Model Zoo](https://docs.openvino.ai/latest/omz_models_group_intel.html) with
pretrained models for a range of different tasks
- [Model Optimizer](https://docs.openvino.ai/latest/openvino_docs_MO_DG_Deep_Learning_Model_Optimizer_DevGuide.html) to  prepare models for optimal execution and transform them into the Intermediate Representation (IR) format
- [Benchmark Tool](https://docs.openvino.ai/latest/openvino_inference_engine_tools_benchmark_tool_README.html) to estimate deep learning inference performance
- [Accuracy Checker](https://docs.openvino.ai/latest/omz_tools_accuracy_checker.html) to determine the accuracy of a model
- [Post-Training Optimization Tool](https://docs.openvino.ai/latest/pot_README.html) to accelerate the inference of the model: calibrate it and then execute in the INT8 precision
