@import 'fonts';
@import 'colors';

:host {
  display: block;
  padding-bottom: 200px;
}

.content-row {
  display: flex;
  align-items: center;

  .text-label {
    @include wb-label();
    color: $black;
    display: flex;
    align-items: center;
    margin-right: 10px;
  }

  &:not(:first-child) {
    margin-top: 15px;
  }
}

.improvement-program-description {
  display: block;
  max-width: 450px;
  @include wb-label();
  line-height: 22px;
}
