@import 'colors';

.layer {
  border-bottom: 1px solid $very-light-pink;

  & + & {
    padding-top: 40px;
  }
}

.add-layer {
  margin-top: 20px;
}

.about-specify {
  margin: 20px 0 10px;
  color: $brownish-grey;
}

.input-shape-container-content {
  margin-top: 30px;
}

.note {
  width: 50%;
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  padding: 20px 30px 20px 20px;
  border: 1px solid $plum;
  box-sizing: border-box;
  background: $faded-bgr;
  border-radius: 3px;
  box-shadow: 0 2px 5px 1px $very-light-pink;

  .header {
    margin: 3px 10px 0 0;
  }

  .close {
    position: absolute;
    top: -10px;
    right: -10px;
    margin: 0;
    padding: 0;

    ::ng-deep mat-icon {
      border-radius: 50%;
      margin: 0;
      background: $faded-bgr;
    }
  }
}
