<wb-model-zoo-layout [isDetailsOpened]="!!selectedModel">
  <wb-model-zoo-content>
    <mat-form-field ngProjectAs="model-zoo-sort" appearance="outline">
      <mat-select [formControl]="sortControl">
        <mat-option *ngFor="let option of dataSource.sortOptions" [value]="option">
          {{ option.label }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <wb-model-zoo-filters-header
      [appliedFiltersCount]="appliedFiltersCount$ | async"
      (resetAllFilters)="resetAllFilters()"
    ></wb-model-zoo-filters-header>

    <ng-container ngProjectAs="wb-model-zoo-filter-group" [ngTemplateOutlet]="filterGroupTemplate"></ng-container>

    <wb-model-zoo-notification [message]="externalResourceNotification"></wb-model-zoo-notification>

    <wb-search-field ngProjectAs="model-zoo-search" (search)="searchModels($event)"></wb-search-field>

    <wb-model-zoo-counter
      [dataLength]="dataSource?.data.length"
      [filteredDataLength]="dataSource?.filteredData?.length"
    ></wb-model-zoo-counter>

    <mat-paginator
      ngProjectAs="model-zoo-paginator"
      [length]="dataSource.data.length"
      [pageSize]="8"
      hidePageSize
    ></mat-paginator>

    <wb-card-grid [dataSource]="dataSource">
      <wb-card
        class="model-card"
        *wbCardDef="let model"
        [disabled]="model.validation.disabled"
        [matTooltip]="model.validation.message"
        [matTooltipDisabled]="!model.validation.disabled"
        (click)="selectedModel = model"
      >
        <wb-card-title-row>
          <mat-icon [svgIcon]="model.validation.disabled ? 'lock' : 'text_fields'"></mat-icon>
          <wb-text-overflow [content]="model.id"></wb-text-overflow>
        </wb-card-title-row>
        <wb-card-content-row>
          <wb-card-content-row-item>{{ model.pipelineTag }}</wb-card-content-row-item>
        </wb-card-content-row>
        <wb-card-content-row>
          <wb-card-content-row-item>{{ model.downloads || 0 }}</wb-card-content-row-item>
          <wb-card-content-row-item>Updated: {{ model.lastModified | date }}</wb-card-content-row-item>
        </wb-card-content-row>
      </wb-card>
    </wb-card-grid>
  </wb-model-zoo-content>

  <wb-huggingface-model-details
    ngProjectAs="wb-model-zoo-details"
    *ngIf="selectedModel"
    [huggingfaceModel]="selectedModel"
    [tagsSets]="tagsSets"
    (import)="importModel()"
    (hide)="selectedModel = null"
  >
  </wb-huggingface-model-details>
</wb-model-zoo-layout>

<ng-template #filterGroupTemplate>
  <wb-model-zoo-filter-group [formControl]="filtersControl">
    <ng-container *ngIf="appliedTags">
      <wb-info-hint [message]="shownSubsetNotification"></wb-info-hint>
      <wb-model-zoo-filter group="pipeline_tag">
        <wb-model-zoo-filter-title>Tasks</wb-model-zoo-filter-title>
        <wb-model-zoo-filter-option
          selected="true"
          disabled="true"
          *ngFor="let tag of appliedTags.pipelineTags"
          [value]="tag"
          [label]="tag"
          icon="list_alt"
        >
        </wb-model-zoo-filter-option>
      </wb-model-zoo-filter>

      <wb-model-zoo-filter group="library">
        <wb-model-zoo-filter-title>Library</wb-model-zoo-filter-title>
        <wb-model-zoo-filter-option
          selected="true"
          disabled="true"
          *ngFor="let tag of appliedTags.libraries"
          [value]="tag"
          [label]="tag"
        >
        </wb-model-zoo-filter-option>
      </wb-model-zoo-filter>
    </ng-container>

    <ng-container *ngIf="availableTags">
      <wb-model-zoo-filter group="modelTypes">
        <wb-model-zoo-filter-title>Model types</wb-model-zoo-filter-title>
        <wb-model-zoo-filter-option
          *ngFor="let modelType of availableTags.modelTypes"
          [value]="modelType"
          [label]="modelType"
        >
        </wb-model-zoo-filter-option>
      </wb-model-zoo-filter>

      <wb-model-zoo-filter group="languages">
        <wb-model-zoo-filter-title>Languages</wb-model-zoo-filter-title>
        <wb-model-zoo-filter-option
          *ngFor="let language of availableTags.languages"
          [value]="language"
          [label]="language"
        >
        </wb-model-zoo-filter-option>
      </wb-model-zoo-filter>

      <wb-model-zoo-filter group="licenses">
        <wb-model-zoo-filter-title>Licenses</wb-model-zoo-filter-title>
        <wb-model-zoo-filter-option
          *ngFor="let license of availableTags.licenses"
          [value]="license"
          [label]="license.replace('license:', '')"
          icon="license"
        >
        </wb-model-zoo-filter-option>
      </wb-model-zoo-filter>
    </ng-container>
  </wb-model-zoo-filter-group>
</ng-template>
