<wb-model-zoo-layout [isDetailsOpened]="!!selectedModel">
  <wb-model-zoo-content #modelZooContent [loading]="isLoading$ | async">
    <wb-config-form-field
      ngProjectAs="model-zoo-sort"
      [field]="sortField"
      [group]="sortAndSearchFormGroup"
    ></wb-config-form-field>

    <wb-model-zoo-filters-header
      [appliedFiltersCount]="appliedFiltersCount$ | async"
      (resetAllFilters)="resetAllFilters()"
    ></wb-model-zoo-filters-header>

    <ng-container ngProjectAs="wb-model-zoo-filter-group" [ngTemplateOutlet]="filterGroupTemplate"></ng-container>

    <wb-model-zoo-notification [message]="externalResourceNotification"></wb-model-zoo-notification>

    <wb-config-form-field
      ngProjectAs="model-zoo-search"
      [field]="searchField"
      [group]="sortAndSearchFormGroup"
    ></wb-config-form-field>

    <wb-model-zoo-counter
      *ngIf="dataSource?.data.length"
      [dataLength]="dataSource?.data.length"
      [filteredDataLength]="dataSource?.filteredData?.length"
    ></wb-model-zoo-counter>

    <mat-paginator
      #matPaginator
      ngProjectAs="model-zoo-paginator"
      [length]="dataSource.data.length"
      [pageSize]="8"
      hidePageSize
    ></mat-paginator>

    <wb-card-grid-skeleton [cards]="matPaginator.pageSize" [rowsPerCard]="3"></wb-card-grid-skeleton>

    <wb-card-grid [dataSource]="dataSource" *ngIf="dataSource?.filteredData?.length; else emptyFilteredModelsTemplate">
      <wb-card
        class="model-card"
        *wbCardDef="let model"
        [disabled]="model.validation.disabled"
        [matTooltip]="model.validation.message"
        [matTooltipDisabled]="!model.validation.disabled"
        (selected)="selectedModel = model"
        data-test-id="model-card"
      >
        <wb-card-title-row>
          <mat-icon [svgIcon]="model.validation.disabled ? 'lock' : 'text_fields'"></mat-icon>
          <wb-text-overflow [content]="model.id" data-test-id="model-name"></wb-text-overflow>
        </wb-card-title-row>
        <wb-card-content-row>
          <wb-card-content-row-item data-test-id="model-task">{{ model.pipelineTag }}</wb-card-content-row-item>
        </wb-card-content-row>
        <wb-card-content-row>
          <wb-card-content-row-item data-test-id="model-downloads">
            <mat-icon svgIcon="download"></mat-icon>
            {{ (model.downloads | callFunction: shortenNumber) || 0 }}
          </wb-card-content-row-item>
          <wb-card-content-row-item data-test-id="updated"
            >Updated: {{ model.lastModified | date }}</wb-card-content-row-item
          >
        </wb-card-content-row>
      </wb-card>
    </wb-card-grid>
  </wb-model-zoo-content>

  <wb-huggingface-model-details
    ngProjectAs="wb-model-zoo-details"
    [tagsSets]="tagsSets"
    [huggingfaceModel]="selectedModel"
    (import)="importModel()"
    (hide)="selectedModel = null"
  >
  </wb-huggingface-model-details>
</wb-model-zoo-layout>

<ng-template #filterGroupTemplate>
  <wb-model-zoo-filter-group [formControl]="filtersControl">
    <ng-container *wbSkeleton="!appliedTags; repeat: 10; width: 'rand'; gap: '20px'">
      <wb-info-hint [message]="shownSubsetNotification"></wb-info-hint>
      <wb-model-zoo-filter group="pipeline_tag" data-test-id="task-filter-group">
        <wb-model-zoo-filter-title>Tasks</wb-model-zoo-filter-title>
        <wb-model-zoo-filter-option
          selected="true"
          disabled="true"
          *ngFor="let tag of appliedTags.pipelineTags"
          [value]="tag"
          icon="list_alt"
          [attr.data-test-id]="tag + '-filter'"
        >
          {{ tag }}
        </wb-model-zoo-filter-option>
      </wb-model-zoo-filter>

      <wb-model-zoo-filter group="library" data-test-id="library-filter-group">
        <wb-model-zoo-filter-title>Library</wb-model-zoo-filter-title>
        <wb-model-zoo-filter-option
          selected="true"
          disabled="true"
          *ngFor="let tag of appliedTags.libraries"
          [value]="tag"
          [attr.data-test-id]="tag + '-filter'"
        >
          {{ tag }}
        </wb-model-zoo-filter-option>
      </wb-model-zoo-filter>
    </ng-container>

    <ng-container *ngIf="availableTags">
      <wb-model-zoo-filter group="modelTypes" data-test-id="model-type-filter-group">
        <wb-model-zoo-filter-title>Model types</wb-model-zoo-filter-title>
        <wb-model-zoo-filter-option
          *ngFor="let modelType of availableTags.modelTypes"
          [value]="modelType"
          [attr.data-test-id]="modelType + '-filter'"
        >
          {{ modelType }}
        </wb-model-zoo-filter-option>
      </wb-model-zoo-filter>

      <wb-model-zoo-filter group="languages" data-test-id="language-filter-group">
        <wb-model-zoo-filter-title>Languages</wb-model-zoo-filter-title>
        <wb-model-zoo-filter-option
          *ngFor="let language of availableTags.languages"
          [value]="language"
          [attr.data-test-id]="language + '-filter'"
        >
          {{ language }}
        </wb-model-zoo-filter-option>
      </wb-model-zoo-filter>

      <wb-model-zoo-filter group="licenses" data-test-id="license-filter-group">
        <wb-model-zoo-filter-title>Licenses</wb-model-zoo-filter-title>
        <wb-model-zoo-filter-option
          *ngFor="let license of availableTags.licenses"
          [value]="license"
          icon="license"
          [attr.data-test-id]="license.replace('license:', '') + '-filter'"
        >
          {{ license.replace('license:', '') }}
        </wb-model-zoo-filter-option>
      </wb-model-zoo-filter>
    </ng-container>
  </wb-model-zoo-filter-group>
</ng-template>

<ng-template #emptyFilteredModelsTemplate>
  <ng-container
    *ngTemplateOutlet="modelZooContent.emptyFilteredModelsTemplate; context: emptyFilteredModelsTemplateContext"
  ></ng-container>
</ng-template>
