@import 'colors';
@import 'fonts';

$container-padding: 20px;

:host {
  width: 100%;
  display: flex;
  flex-direction: column;

  .augmentation {
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    ::ng-deep .wb-panel.content {
      flex-grow: 1;
    }
  }
}

.subheader {
  margin: 10px 0;
}

.wb-panel {
  margin-bottom: $container-padding;
  padding: 0;

  ::ng-deep .header-checkbox {
    pointer-events: none;
  }
}

.field {
  display: block;
}

.field + .field {
  margin-top: 10px;
  padding-top: 10px;
}

.field + .field.next-fieldset {
  margin-top: $container-padding;
  border-top: 1px solid $very-light-pink;
  padding-top: $container-padding;
}

:host .mat-expansion-panel.wb-panel {
  background: $faded-bgr;
  box-sizing: border-box;
  border-radius: 3px;
  box-shadow: none;

  ::ng-deep mat-expansion-panel-header {
    padding: 0;
    margin: 0;
  }

  ::ng-deep .mat-expansion-panel-body {
    padding: 0;
  }

  .wb-panel-header {
    height: auto;
    padding: $container-padding;
  }
}

.mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:hover:not([aria-disabled='true']) {
  background: $faded-bgr;
}

mat-accordion:not(:first-child) {
  margin-top: $container-padding;
}

.header-checkbox {
  margin-bottom: 0;
}
