@import 'colors';
@import 'fonts';
@import 'variables';

$image-card-size: 150px;
$image-card-margin: 10px;
$image-overlay-color: rgba(56, 56, 56, 0.8);

:host ::ng-deep {
  .label-container {
    min-width: 165px;
  }
  .mat-form-field {
    max-width: 200px;
  }
}

wb-info-hint {
  margin-bottom: 20px;
}

wb-info-hint + .row {
  margin-top: 0;
}

.section {
  border-top: 1px solid $very-light-pink;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  pointer-events: auto;
}

.section-content {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid $very-light-pink;
}

.section-controls {
  display: flex;
  flex-direction: column;
  margin: $container-padding;
}

.summary {
  @include wb-label();
  color: $brownish-grey;
  margin: $container-padding 0 $container-padding 25px;
}

.result-img {
  align-items: center;
  box-sizing: border-box;
  border-left: 1px solid $very-light-pink;
  display: flex;
  flex-basis: 30%;
  flex-direction: column;
  justify-content: center;
  padding: $container-padding;

  .img-preview {
    align-self: baseline;
    background-color: $deep-red-light;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 70px;

    span {
      @include wb-body-2();
    }
  }

  .image-card {
    background-color: $white;
    position: relative;

    img {
      display: block;
      background-color: $white;
      height: $image-card-size;
      object-fit: cover;
      border: 1px solid $very-light-pink;
      border-radius: 3px;
    }

    &:not(:first-child) {
      margin-top: 20px;
    }

    .preview-text {
      align-items: center;
      background: $image-overlay-color;
      border-radius: 3px;
      color: $white;
      display: flex;
      justify-content: center;
      height: 25px;
      position: absolute;
      padding: 0 10px;
      right: $container-padding;
      top: 15px;

      span {
        @include wb-body-7();
      }
    }

    .select-preset {
      background-color: $plum;
      opacity: 0.8;
    }
  }
}

.flip-img-horizontal {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.flip-img-vertical {
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
}
