python3 \
    {{TENSOR_DISTANCE_WRAPPER_PATH_IN_BUNDLE}} \
    --original-model-xml-path {{ORIGINAL_MODEL_XML_PATH_IN_BUNDLE}} \
    --original-model-bin-path {{ORIGINAL_MODEL_BIN_PATH_IN_BUNDLE}} \
    --optimized-model-xml-path {{INT8_MODEL_XML_PATH_IN_BUNDLE}} \
    --optimized-model-bin-path {{INT8_MODEL_BIN_PATH_IN_BUNDLE}} \
    --dataset-path {{DATASET_PATH_IN_BUNDLE}} \
    --output-report-path {{OUTPUT_REPORT_PATH_IN_BUNDLE}}
