#!/bin/bash

while test $# -gt 0; do
    case "$1" in
    -output)
        shift
        OUTPUT=$1
        shift
        ;;
    *)
        echo "Invalid option $1"
        exit 1
        ;;
    esac
done

if [ -z "${OUTPUT}" ]; then
    echo "The -output argument is not set."
    exit 1
fi

CURRENT_SCRIPT_PATH="$( cd "$( dirname "${BASH_SOURCE[0]}" )" >/dev/null 2>&1 && pwd )"
BUNDLE_ROOT_PATH="$(dirname ${CURRENT_SCRIPT_PATH})"

SCRIPTS_PATH=${BUNDLE_ROOT_PATH}/{{SCRIPTS_PATH}}
PYTHON_ENVIRONMENT_PATH=${BUNDLE_ROOT_PATH}/{{PYTHON_ENVIRONMENT_PATH}}

set -e

# Activate virtualenv
if [[ -f "${PYTHON_ENVIRONMENT_PATH}/bin/activate" ]]; then
    source ${PYTHON_ENVIRONMENT_PATH}/bin/activate
fi

python3 ${SCRIPTS_PATH}/get_system_resources.py -output ${OUTPUT}
