#!/bin/bash

while test $# -gt 0; do
    case "$1" in
    -openvino-package-root)
        shift
        OPENVINO_PACKAGE_ROOT=$1
        shift
        ;;
    -output)
        shift
        OUTPUT=$1
        shift
        ;;
    *)
        echo "Invalid option $1"
        exit 1
        ;;
    esac
done

if [[ -z "${OPENVINO_PACKAGE_ROOT}" ]]; then
    echo "The -openvino-package-root argument is not set."
    exit 1
fi

if [ -z "${OUTPUT}" ]; then
    echo "The -output argument is not set."
    exit 1
fi

SCRIPTS_PATH=${OPENVINO_PACKAGE_ROOT}/{{SCRIPTS_PATH}}
PYTHON_ENVIRONMENT_PATH=${OPENVINO_PACKAGE_ROOT}/{{PYTHON_ENVIRONMENT_PATH}}

set -e

# Activate virtualenv
if [[ -f "${PYTHON_ENVIRONMENT_PATH}/bin/activate" ]]; then
    source ${PYTHON_ENVIRONMENT_PATH}/bin/activate
fi

python3 ${SCRIPTS_PATH}/get_system_resources.py -output ${OUTPUT}
