python3 \
    {{PROFILING_PYTHON_PATH_IN_PROFILING_BUNDLE}} \
    -profiling-bundle-path ${JOB_BUNDLE_PATH} \
    -artifact-path ${ARTIFACTS_PATH} \
    -config ${JOB_BUNDLE_PATH}/{{PROFILING_CONFIG_PATH_IN_PROFILING_BUNDLE}}
