sed -i -b 's@$JOB_BUNDLE_PATH@'"$JOB_BUNDLE_PATH"'@g' ${JOB_BUNDLE_PATH}/{{CONFIG_PATH_IN_RESHAPE_MODEL_BUNDLE}}


echo -n "[RUN COMMAND] "

set -x

python3 \
    {{RESHAPE_MODEL_SCRIPT_PATH_IN_BUNDLE}} \
    --config ${JOB_BUNDLE_PATH}/{{CONFIG_PATH_IN_RESHAPE_MODEL_BUNDLE}}
