@import 'colors';
@import 'mixins';

:host {
  flex-grow: 1;
}

.container {
  margin-bottom: 10px;
  display: flex;

  form {
    flex-grow: 1;
  }

  .items {
    display: flex;
    flex-wrap: wrap;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;

  &.row--section-error {
    background-color: $deep-red-light;
    border-top: 1px solid $very-light-pink;
    border-bottom: 1px solid $very-light-pink;
    padding: 20px;
    margin-bottom: 20px;
    margin-left: -40px;
    margin-right: -20px;

    wb-info-hint ::ng-deep .hint-container wb-markdown-text {
      color: $black;
    }
  }
}

.inputs-block {
  display: flex;
  margin-bottom: 20px;

  ::ng-deep .field-container {
    max-width: 110px;
  }
}

.labels {
  padding: 43px 25px 30px 0;
  flex-shrink: 0;

  .label {
    line-height: 40px;

    span {
      position: relative;
    }
  }

  .label + .label {
    margin-top: 10px;
  }

  .label.label--required span:after {
    @include wb-required-asterix();
  }

  &.has-error {
    .label:last-child {
      margin-top: 40px;
    }
  }
}

.num {
  margin-bottom: 10px;
}

.inputs {
  width: 100%;
  border: 1px solid $very-light-pink;
  border-radius: 3px;
  padding: 20px;

  wb-config-form-field:first-child {
    display: block;
    margin-bottom: 10px;
  }

  wb-config-form-field:last-child {
    display: block;
    margin-bottom: 0;
  }

  ::ng-deep {
    .mat-form-field {
      min-width: 100%;
    }
    .mat-form-field-infix {
      width: 100px;
    }
  }
}

.items.has-error wb-config-form-field:first-child {
  height: 70px;
}

.item {
  margin-right: 20px;
}

.action {
  margin-left: 10px;
  display: flex;
  align-items: center;
}

.layout-type ::ng-deep .config-form-field .field-container {
  flex-direction: row;

  .mat-radio-button + .mat-radio-button {
    margin-left: 20px;
  }
}

:host .inputs ::ng-deep .config-form-field .field-container {
  .mat-form-field-wrapper {
    padding-bottom: 0;
  }

  .error-message {
    top: 0;
  }
}

.layout-value {
  line-height: 40px;
  font-weight: 400;
}
