<div class="config-form-field config-form-field--autocomplete" [class.config-form-field--required]="isRequired">
  <div class="label-container">
    <ng-container *ngIf="tooltip" [ngTemplateOutlet]="tooltipTemplate"></ng-container>
    <label *ngIf="label" class="label" [for]="controlId">{{ label }}:</label>
  </div>

  <div class="control-container">
    <mat-form-field appearance="outline" floatLabel="never">
      <mat-placeholder class="select-autocomplete-form-placeholder">{{ placeholder }}</mat-placeholder>
      <input
        [id]="controlId"
        type="text"
        aria-label="Select"
        matInput
        [formControl]="control"
        [matAutocomplete]="auto"
        [attr.data-test-id]="testId"
      />
      <mat-autocomplete
        #auto="matAutocomplete"
        class="virtual-autocomplete-container"
        [panelWidth]="cdkOverlayPanelWidth"
        (opened)="virtualScroll.checkViewportSize()"
        (optionSelected)="changeSelectedLayerName.emit($event.option.value)"
      >
        <cdk-virtual-scroll-viewport
          [itemSize]="optionHeightPx"
          [minBufferPx]="bufferSizePx"
          [maxBufferPx]="bufferSizePx"
          [style.height.px]="getAutocompleteHeightPx((filteredOptions$ | async)?.length)"
          style="overflow-x: hidden"
        >
          <mat-option *cdkVirtualFor="let option of filteredOptions$ | async" [value]="option">
            {{ option }}
          </mat-option>
        </cdk-virtual-scroll-viewport>
      </mat-autocomplete>

      <mat-icon matSuffix svgIcon="search"></mat-icon>
    </mat-form-field>

    <div *ngIf="shouldDisplayErrorMessage" class="error-message" data-test-id="control-error">
      <wb-markdown-text [text]="getError"></wb-markdown-text>
    </div>
  </div>
</div>

<ng-template #tooltipTemplate>
  <wb-help-tooltip
    class="tooltip"
    [tooltipMessage]="tooltipService.getTooltip(tooltip.prefix, tooltip.value)"
  ></wb-help-tooltip>
</ng-template>
