@import 'colors';

:host {
  display: flex;
  flex-direction: column;
  height: 100%;

  .page-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow-y: auto;
  }

  .page-actions {
    display: flex;
    margin-top: auto;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 4px 5px 4px $cool-grey;
    z-index: 1;
  }
}

:host.gray-footer {
  .page-actions {
    display: block;
    box-shadow: 0 -1px 10px 3px $panel-shadow;
    background-color: $faded-bgr;
    border-top: 1px solid $very-light-pink;
  }
}
