@import 'fonts';
@import 'mixins';
@import 'variables';

:host {
  display: block;
  margin-bottom: 20px;
}

.panel-header {
  margin: 0;
}

.panel-title {
  margin: 0;

  &.panel-title--tip {
    color: $plum;
    margin-bottom: 10px;
  }
}

.wb-row .wb-col-8 {
  flex-direction: column;
}

.hint {
  display: block;
  margin: 10px 0 30px;
}

.form-group {
  display: block;
  counter-reset: input-layer-counter;
}

:host ::ng-deep {
  .field-row {
    display: flex;
    align-items: flex-start;

    &:last-child {
      margin-bottom: 0;
    }

    ::ng-deep .mat-form-field-wrapper {
      padding-bottom: 0;
    }

    .tip-btn {
      margin-left: 20px;
    }

    wb-config-form-field + wb-file-upload-field {
      margin-left: 10px;
    }
  }

  .tip-link {
    margin-left: 20px;
    cursor: pointer;
    color: $plum;
    text-decoration: underline;
  }

  .mat-form-field-type-mat-select {
    @include wb-subtitle-1();
  }
}

.model-conversion-tips-header {
  color: $blue-blue;
}

.panel-row--footer {
  display: flex;
  align-items: center;

  wb-button + wb-button {
    margin-left: 20px;
  }

  wb-button + wb-info-hint {
    margin-left: 20px;
  }
}

.inputs-panel {
  position: relative;
}

.required-tag {
  margin-left: auto;

  @include wb-required-tag();
}
