<div class="markdown-text-block">
  <ng-container *ngFor="let element of markdownElements" [ngSwitch]="element.elementType">
    <ng-container *ngSwitchCase="MarkdownElementTypesEnum.TEXT">{{ element.text }}</ng-container>
    <ng-container *ngSwitchCase="MarkdownElementTypesEnum.INLINE_LINK">
      <ng-template #externalLinkTemplate>
        <a data-test-id="external-link" [href]="element.href" target="_blank">{{ element.text }}</a>
      </ng-template>

      <ng-template #internalLinkTemplate>
        <a
          data-test-id="internal-link"
          [routerLink]="trimInternalLinkQueryParams(element.href)"
          [queryParams]="getInternalLinkQueryParams(element.href)"
          >{{ element.text }}</a
        >
      </ng-template>

      <ng-container
        [ngTemplateOutlet]="isLinkInternal(element.href) ? internalLinkTemplate : externalLinkTemplate"
      ></ng-container>
    </ng-container>
    <ng-container *ngSwitchCase="MarkdownElementTypesEnum.LINE_BREAK">
      <br />
    </ng-container>
  </ng-container>
</div>
