@import 'colors';

:host ::ng-deep {
  // The class `markdown-body` comes from `highlight.js` extension.
  // We should overwrite its font styles to match DL Workbench typography styles
  .markdown-body {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
  }

  a {
    transition: 0.2s color;
  }

  a,
  a:visited {
    color: $plum;
  }

  a:hover {
    color: $plum-light;
  }

  a:active {
    color: $plum-dark;
  }
}
