@import 'mixins';

:host {
  display: block;
  margin-bottom: -20px;
}

.hint {
  display: block;
  margin: -15px 0 20px;
}

.field-row.field-row--predefined-transformation-config {
  position: absolute;
  left: 0;
  top: 50px;
}

.field-row.field-row--custom-transformation-config {
  position: absolute;
  left: 240px;
  top: 40px;
}

.transformations-config-container {
  margin-left: 20px;
  margin-bottom: 40px;
  position: relative;

  &.transformations-config-container--invalid-custom-field {
    margin-bottom: 50px;
  }
}

.transformations-config-container ::ng-deep .mat-radio-button.mat-radio-checked:first-child {
  margin-bottom: 215px;
}

.transformations-config-container ::ng-deep .mat-radio-button.mat-radio-checked .mat-radio-label-content {
  position: relative;

  &:after {
    @include wb-required-asterix();
  }
}
