<ng-container *ngIf="model">
  <wb-config-form-field
    testId="use-transformations-config"
    [field]="utilFields.useTransformationsConfig"
    [group]="utilGroup"
  ></wb-config-form-field>
  <wb-info-hint class="wb-full-width hint" [message]="useTransformationsConfigHint"></wb-info-hint>

  <div
    *ngIf="useTransformationsConfigControl.value"
    class="transformations-config-container"
    [class.transformations-config-container--invalid-custom-field]="
      customConfigControl?.invalid && customConfigControl?.touched
    "
  >
    <wb-config-form-field
      class="wb-config-form-field--vertical-radio"
      testId="transformations-config-type-"
      [field]="utilFields.transformationsConfigType"
      [group]="utilGroup"
    ></wb-config-form-field>

    <div *ngIf="isPredefinedConfig" class="field-row field-row--predefined-transformation-config">
      <wb-transformations-config-field
        #predefinedTransformationsConfigField
        *ngIf="isPredefinedConfig"
        class="predefined-config"
        [field]="fields.predefinedConfig"
        [group]="group"
      ></wb-transformations-config-field>
      <wb-button
        class="tip-btn enlarged-control"
        text="Learn more"
        icon="lightbulb"
        [attr.data-test-id]="getTipTestId(fields.predefinedConfig.name)"
        (click)="helpChecklistService.expandItem(fields.predefinedConfig.name)"
      ></wb-button>
    </div>

    <div *ngIf="isCustomConfig" class="field-row field-row--custom-transformation-config">
      <wb-file-upload-field
        #customTransformationsConfigField
        [testId]="fields.customConfigFile.name + 'Input'"
        [label]="fields.customConfigFile.label"
        [acceptedFiles]="fields.customConfigFile.acceptedFiles"
        [maxFileSizeMb]="fields.customConfigFile.maxFileSizeMb"
        (fileSelected)="handleSelectTransformationsConfigFile($event)"
      ></wb-file-upload-field>
      <wb-button
        class="tip-btn enlarged-control"
        text="Learn more"
        icon="lightbulb"
        [attr.data-test-id]="getTipTestId(fields.customConfigFile.name)"
        (click)="helpChecklistService.expandItem(fields.customConfigFile.name)"
      ></wb-button>
    </div>
  </div>

  <div *ngIf="isTfModel" class="field-row">
    <wb-config-form-field
      testId="use-pipeline-config"
      [field]="utilFields.usePipelineConfig"
      [group]="utilGroup"
    ></wb-config-form-field>
    <ng-container *ngIf="usePipelineConfigControl.value">
      <wb-file-upload-field
        #pipelineConfigFileUploadField
        [testId]="fields.tfODApiPipelineConfigFile.name + 'Input'"
        [label]="fields.tfODApiPipelineConfigFile.label"
        [acceptedFiles]="fields.tfODApiPipelineConfigFile.acceptedFiles"
        [maxFileSizeMb]="fields.tfODApiPipelineConfigFile.maxFileSizeMb"
        (fileSelected)="handleSelectPipelineConfigFile($event)"
      ></wb-file-upload-field>
      <wb-button
        class="tip-btn enlarged-control"
        text="Learn more"
        icon="lightbulb"
        [attr.data-test-id]="getTipTestId(fields.tfODApiPipelineConfigFile.name)"
        (click)="helpChecklistService.expandItem(fields.tfODApiPipelineConfigFile.name)"
      ></wb-button>
    </ng-container>
  </div>
</ng-container>
