:host {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  flex-grow: 1;
}

.readme ::ng-deep {
  font-family: Roboto, sans-serif;

  table {
    border-spacing: 0;
    border-collapse: collapse;
  }
}
