@import 'colors';
@import 'fonts';

:host {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  flex-grow: 1;
}

.readme ::ng-deep {
  @include wb-text-8();

  table {
    border-spacing: 0;
    border-collapse: collapse;
  }
}

.hf-card-url {
  @include wb-text-8();
  margin-top: 30px;
}

.readme-not-found {
  color: $brownish-grey;
  margin: auto;
}
