@import 'fonts';
@import 'colors';

:host {
  display: flex;
  flex-direction: column;

  &:not(:first-child) {
    margin-top: 30px;
  }
}

.icon-container {
  order: 1;

  .show-more,
  .show-less {
    @include wb-label();
    color: $brownish-grey;
    cursor: pointer;
  }
}

.options-container {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  align-items: center;
}

::ng-deep wb-model-zoo-filter-title {
  display: flex;
  @include wb-subtitle-1();
  color: $black;
  margin-bottom: 20px;
}
