@import 'colors';
@import 'fonts';

:host {
  display: flex;
  flex-direction: column;
  height: 100%;

  .header {
    padding: 20px 30px;
    border-bottom: solid $light-blue-grey 1px;

    .sub-title {
      color: $brownish-grey;
    }

    .title {
      padding-top: 5px;
      @include wb-h3();
      overflow-wrap: break-word;
    }
  }

  .content {
    padding: 20px 30px;
    overflow: auto;

    .title {
      @include wb-h2();

      &-license {
        padding-top: 40px;
      }
    }

    .description {
      padding-top: 13px;
      word-break: break-word;
    }

    &-license {
      padding-top: 17px;
      word-break: break-word;
    }
  }

  wb-markdown-text ::ng-deep {
    a {
      word-break: break-all;
      display: inline-block;
    }
  }
}
