<div class="header">
  <div class="sub-title">Model</div>
  <div class="title">{{ modelInfo?.name }}</div>
</div>
<div class="content" data-test-id="omz-model-info">
  <div class="title">Description</div>
  <div class="description">
    <wb-markdown-text [text]="modelInfo?.description | linkify" class="wb-label"></wb-markdown-text>
  </div>
  <div class="title title-license">Licence</div>
  <div class="content-license">
    <wb-markdown-text [text]="modelInfo?.license_url | linkify" class="wb-body-2"></wb-markdown-text>
  </div>
</div>
