@import 'fonts';

.wb-panel {
  height: 100%;
}

wb-config-form-field ::ng-deep {
  .field-label {
    min-width: 150px;
    @include wb-subtitle-1;
  }

  .field-container {
    width: 200px;
  }
}

wb-file-upload-field ::ng-deep {
  .field-label {
    min-width: 140px;
    @include wb-subtitle-1;
  }
}
