@use '~@angular/material' as mat;
@import 'src/styles/colors';

:host {
  display: flex;
  padding: 10px;
  border: 1px solid $very-light-pink;
  border-radius: 3px;
  cursor: default;

  mat-icon {
    cursor: pointer;
    width: 18px;
    height: 18px;
    margin-left: 5px;
  }

  &.selected {
    color: $plum;
    border-color: $plum;
    @include mat.elevation(2);
  }
}
