@import 'variables';

$field-label-min-width: 150px;

:host ::ng-deep .label-container {
  min-width: $field-label-min-width;
}

.wb-container {
  padding-bottom: $container-padding;
}

.page-actions {
  display: flex;

  wb-button + wb-button {
    margin-left: $container-padding;
  }
}
