<div [ngClass]="['file-upload-field-container', isRequired && 'file-upload-field-container--required']">
  <div class="label-container">
    <wb-help-tooltip
      *ngIf="tooltip"
      class="tooltip"
      [tooltipMessage]="tooltipService.getTooltip(tooltip.prefix, tooltip.value)"
    ></wb-help-tooltip>
    <label *ngIf="label" class="label" [for]="id">
      {{ label }}:
      <span class="label-optional wb-body-4" *ngIf="optional">({{ optionalLabel }})</span>
    </label>
  </div>
  <div class="control-container">
    <div class="row">
      <ng-container [ngTemplateOutlet]="uploadingDir ? dirUpload : fileUpload"></ng-container>
      <span class="selected">
        <ng-container *ngIf="!selectedFile">{{ noFileSelectedLabel }}</ng-container>
        <ng-container *ngIf="selectedFile">
          <ng-container *ngIf="!selectedFile.length">{{ selectedFile.name }}</ng-container>
          <ng-container *ngIf="selectedFile.length">Selected {{ selectedFile.length }} checkpoint file(s)</ng-container>
        </ng-container>
      </span>
    </div>
    <div *ngIf="(submitted || touched) && ((!optional && !selectedFile) || hasErrors())" class="error-message">
      <wb-markdown-text [text]="error || requiredFieldMessage"></wb-markdown-text>
    </div>
  </div>
</div>

<ng-template #fileUpload>
  <wb-button
    class="enlarged-control"
    type="secondary"
    [text]="chooseFiledLabel"
    (handleClick)="fileInput.click(); touched = true"
  ></wb-button>
  <input
    #fileInput
    hidden
    type="file"
    [id]="id"
    [accept]="acceptedFiles"
    [attr.multiple]="multiple"
    (change)="onFileSelected($event)"
    [attr.data-test-id]="testId"
  />
</ng-template>

<ng-template #dirUpload>
  <wb-button
    class="enlarged-control"
    type="secondary"
    [text]="chooseFolderLabel"
    (handleClick)="folderInput.click(); touched = true"
  >
  </wb-button>
  <input
    #folderInput
    type="file"
    hidden
    webkitDirectory
    [id]="id"
    (change)="filesPicked(folderInput.files)"
    [attr.data-test-id]="testId"
  />
</ng-template>
