@import 'colors';
@import 'variables';

.models-table {
  border: 1px solid $very-light-pink;

  td {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .name {
    overflow: hidden;

    ::ng-deep .text-overflow {
      max-width: 280px;
      line-height: 1.3;
    }
  }

  .precisions {
    width: 110px;
  }

  .date {
    width: 110px;
  }

  .action {
    width: 90px;
  }

  .size {
    text-align: right;
    width: 100px;
    padding-right: 60px;

    ::ng-deep {
      .mat-sort-header-container {
        justify-content: flex-end;
      }
      .mat-icon {
        margin-right: 10px;
      }
    }
  }
}

.empty-msg {
  border-bottom: 1px solid $very-light-pink;
  text-align: center;
  width: 100%;
  height: 50px;
  line-height: 50px;
}

.progress-spinner-placeholder {
  display: flex;
  justify-content: center;
}

.btn ::ng-deep .button {
  min-width: 80px;
}
