@import 'colors';
@import 'variables';
@import 'fonts';

.content-row {
  display: flex;
  overflow: hidden;
  flex-grow: 1;
}

.filter-block {
  border-right: 1px solid $very-light-pink;
  padding: 20px;
  display: block;
  overflow-y: auto;
}

.main-block {
  padding: 0;
  display: flex;
  flex-direction: column;

  .block-header {
    border-bottom: 1px solid $very-light-pink;
    padding: $container-padding;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    box-shadow: 0 2px 4px $panel-shadow;

    ::ng-deep .block-header-row {
      display: flex;

      & + .block-header-row:not(:first-child) {
        margin-top: $container-padding;
      }

      wb-search-field {
        width: 430px;
      }

      .wb-chip {
        margin-left: auto;
      }

      mat-paginator {
        background-color: transparent;

        // TODO Move paginator styles to global styles
        ::ng-deep .mat-paginator-container {
          min-height: 40px;
          padding: 0;

          .mat-paginator-navigation-previous {
            order: 1;
          }

          .mat-paginator-range-label {
            @include wb-label();
            color: $black;
            order: 2;
          }

          .mat-paginator-navigation-next {
            order: 3;
          }

          .mat-paginator-navigation-previous,
          .mat-paginator-navigation-next {
            border: 1px solid $very-light-pink;
            color: $black;
            border-radius: 3px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 34px;

            .mat-paginator-icon {
              width: 24px;
            }
          }

          .mat-button-disabled {
            color: $cool-grey;
          }
        }
      }
    }
  }

  ::ng-deep wb-card-grid {
    padding: 20px;
    overflow-y: auto;
  }
}
