<wb-model-zoo-layout [isDetailsOpened]="!!selectedModel">
  <wb-model-zoo-content>
    <mat-form-field ngProjectAs="model-zoo-sort" appearance="outline">
      <mat-select [formControl]="sortControl">
        <mat-option *ngFor="let option of dataSource.sortOptions" [value]="option">
          {{ option.label }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <wb-model-zoo-filters-header
      [appliedFiltersCount]="appliedFiltersCount$ | async"
      (resetAllFilters)="resetAllFilters()"
    ></wb-model-zoo-filters-header>

    <ng-container ngProjectAs="wb-model-zoo-filter-group" [ngTemplateOutlet]="filterGroupTemplate"></ng-container>

    <wb-search-field ngProjectAs="model-zoo-search" (search)="searchModels($event)"></wb-search-field>

    <wb-model-zoo-counter
      [dataLength]="dataSource?.data.length"
      [filteredDataLength]="dataSource?.filteredData?.length"
    ></wb-model-zoo-counter>

    <mat-paginator
      ngProjectAs="model-zoo-paginator"
      [length]="dataSource.data.length"
      [pageSize]="8"
      hidePageSize
    ></mat-paginator>

    <wb-card-grid [dataSource]="dataSource">
      <wb-card *wbCardDef="let model" (click)="selectedModel = model">
        <wb-card-title-row>
          <mat-icon svgIcon="image"></mat-icon>
          <wb-text-overflow [content]="model.name"></wb-text-overflow>
        </wb-card-title-row>
        <wb-card-content-row>
          <wb-card-content-row-item>{{ model.precision }}</wb-card-content-row-item>
          <wb-card-content-row-item>{{ ModelTaskTypeToNameMap[model.task_type] }}</wb-card-content-row-item>
          <wb-card-content-row-item>{{ modelFrameworkNamesMap[model.framework] }}</wb-card-content-row-item>
        </wb-card-content-row>
      </wb-card>
    </wb-card-grid>
  </wb-model-zoo-content>

  <wb-model-zoo-details *ngIf="selectedModel">
    <wb-model-zoo-details-header
      [modelName]="selectedModel?.name"
      (hideDetails)="selectedModel = null"
    ></wb-model-zoo-details-header>

    <wb-model-zoo-notification
      *ngIf="!isSelectedModelFrameworkConfigured"
      [message]="selectedModelEnvironmentSetupHint"
    ></wb-model-zoo-notification>

    <wb-model-zoo-details-parameters>
      <wb-parameter-details
        class="parameter"
        *ngFor="let param of selectedModelParameters"
        [parameter]="param"
      ></wb-parameter-details>
    </wb-model-zoo-details-parameters>

    <wb-model-zoo-details-description>
      <div class="title">Description</div>
      <div class="description">
        <wb-markdown-text [text]="selectedModel?.description | linkify"></wb-markdown-text>
      </div>
      <div class="title">Licence</div>
      <div class="description">
        <wb-markdown-text [text]="selectedModel?.license_url | linkify"></wb-markdown-text>
      </div>
    </wb-model-zoo-details-description>

    <wb-model-zoo-details-footer>
      <wb-button
        type="primary"
        class="enlarged-control"
        text="Download and Import"
        (handleClick)="importModel()"
        [disabled]="isImportDisabled"
      ></wb-button>

      <wb-info-hint *ngIf="!hasInternetConnection" class="wb-full-width" [message]="noConnectionMessage"></wb-info-hint>

      <wb-info-hint
        *ngIf="hasInternetConnection && !selectedModel?.isAvailable"
        class="wb-full-width"
        [message]="unavailableOmzModelMessage"
      ></wb-info-hint>
    </wb-model-zoo-details-footer>
  </wb-model-zoo-details>
</wb-model-zoo-layout>

<ng-template #filterGroupTemplate>
  <wb-model-zoo-filter-group [formControl]="filtersControl">
    <wb-model-zoo-filter group="task_type">
      <wb-model-zoo-filter-title>Task Type</wb-model-zoo-filter-title>
      <wb-model-zoo-filter-option
        *ngFor="let option of taskTypeOptions"
        [value]="option"
        [label]="option"
        icon="list_alt"
      ></wb-model-zoo-filter-option>
    </wb-model-zoo-filter>

    <wb-model-zoo-filter group="precision">
      <wb-model-zoo-filter-title>Precisions</wb-model-zoo-filter-title>
      <wb-model-zoo-filter-option
        *ngFor="let option of precisionOptions"
        [value]="option"
        [label]="option"
      ></wb-model-zoo-filter-option>
    </wb-model-zoo-filter>

    <wb-model-zoo-filter group="framework">
      <wb-model-zoo-filter-title>Framework</wb-model-zoo-filter-title>
      <wb-model-zoo-filter-option
        *ngFor="let option of frameworkOptions"
        [value]="option"
        [label]="modelFrameworkNamesMap[option]"
        [icon]="modelFrameworkIconsMap[option]"
      ></wb-model-zoo-filter-option>
    </wb-model-zoo-filter>
  </wb-model-zoo-filter-group>
</ng-template>
