<wb-model-zoo-layout [isDetailsOpened]="!!selectedModel">
  <wb-model-zoo-content #modelZooContent [hasError]="!!(error$ | async)" [loading]="isLoading$ | async">
    <wb-config-form-field
      ngProjectAs="model-zoo-sort"
      [field]="sortField"
      [group]="sortAndSearchFormGroup"
    ></wb-config-form-field>

    <wb-model-zoo-filters-header
      [appliedFiltersCount]="appliedFiltersCount$ | async"
      (resetAllFilters)="resetAllFilters()"
    ></wb-model-zoo-filters-header>

    <ng-container ngProjectAs="wb-model-zoo-filter-group" [ngTemplateOutlet]="filterGroupTemplate"></ng-container>

    <wb-config-form-field
      ngProjectAs="model-zoo-search"
      [field]="searchField"
      [group]="sortAndSearchFormGroup"
    ></wb-config-form-field>

    <wb-model-zoo-counter
      *ngIf="dataSource?.data.length"
      [dataLength]="dataSource?.data.length"
      [filteredDataLength]="dataSource?.filteredData?.length"
    ></wb-model-zoo-counter>

    <mat-paginator
      #matPaginator
      ngProjectAs="model-zoo-paginator"
      [length]="dataSource.data.length"
      [pageSize]="8"
      hidePageSize
    ></mat-paginator>

    <wb-card-grid-skeleton [cards]="matPaginator.pageSize" [rowsPerCard]="2"></wb-card-grid-skeleton>

    <wb-card-grid [dataSource]="dataSource" *ngIf="dataSource?.filteredData?.length; else emptyFilteredModelsTemplate">
      <wb-card *wbCardDef="let model" (click)="selectedModel = model" data-test-id="model-card">
        <wb-card-title-row>
          <mat-icon svgIcon="image"></mat-icon>
          <wb-text-overflow [content]="model.name" data-test-id="model-name"></wb-text-overflow>
        </wb-card-title-row>
        <wb-card-content-row data-test-id="model-content">
          <wb-card-content-row-item data-test-id="precision">{{ model.precision }}</wb-card-content-row-item>
          <wb-card-content-row-item data-test-id="task-type">{{
            ModelTaskTypeToNameMap[model.task_type]
          }}</wb-card-content-row-item>
          <wb-card-content-row-item data-test-id="framework">
            <mat-icon [svgIcon]="modelFrameworkIconsMap[model.framework]"></mat-icon>
            {{ modelFrameworkNamesMap[model.framework] }}
          </wb-card-content-row-item>
        </wb-card-content-row>
      </wb-card>
    </wb-card-grid>

    <ng-container ngProjectAs="wb-model-zoo-error" [ngTemplateOutlet]="errorTemplate"></ng-container>
  </wb-model-zoo-content>

  <wb-omz-model-details
    ngProjectAs="wb-model-zoo-details"
    *ngIf="selectedModel"
    [model]="selectedModel"
    (import)="importModel()"
    (hide)="selectedModel = null"
  >
  </wb-omz-model-details>
</wb-model-zoo-layout>

<ng-template #filterGroupTemplate>
  <wb-model-zoo-filter-group [formControl]="filtersControl" *ngIf="dataSource.filtersOptions$ | async as filterOptions">
    <!--  TODO Consider moving filters skeleton to separate component  -->
    <ng-container *wbSkeleton="isLoading$ | async; repeat: 10; width: 'rand'; gap: '20px'">
      <wb-model-zoo-filter group="task_type" data-test-id="task-type-filter-group">
        <wb-model-zoo-filter-title>Task Type</wb-model-zoo-filter-title>
        <wb-model-zoo-filter-option
          *ngFor="let option of filterOptions.taskType"
          [value]="option"
          icon="list_alt"
          testId="{{ option }}"
        >
          {{ option }}
        </wb-model-zoo-filter-option>
      </wb-model-zoo-filter>

      <wb-model-zoo-filter group="precision" data-test-id="precision-filter-group">
        <wb-model-zoo-filter-title>Precisions</wb-model-zoo-filter-title>
        <wb-model-zoo-filter-option
          *ngFor="let option of filterOptions.precision"
          [value]="option"
          testId="{{ option }}"
        >
          {{ option }}
        </wb-model-zoo-filter-option>
      </wb-model-zoo-filter>

      <wb-model-zoo-filter group="framework" data-test-id="framework-filter-group">
        <wb-model-zoo-filter-title>Framework</wb-model-zoo-filter-title>
        <wb-model-zoo-filter-option
          *ngFor="let option of filterOptions.framework"
          [value]="option"
          [icon]="modelFrameworkIconsMap[option]"
          testId="{{ modelFrameworkNamesMap[option] }}"
        >
          {{ modelFrameworkNamesMap[option] }}
        </wb-model-zoo-filter-option>
      </wb-model-zoo-filter>
    </ng-container>
  </wb-model-zoo-filter-group>
</ng-template>

<ng-template #errorTemplate>
  <wb-model-zoo-error>
    <!-- TODO Consider moving to messages -->
    No data found.
    <br />
    Check your proxy and connection and try again.
    <!--  TODO Add handler for try again action  -->
    <wb-button
      ngProjectAs="model-zoo-error-button"
      type="secondary"
      class="enlarged-control"
      text="Try Again"
    ></wb-button>
  </wb-model-zoo-error>
</ng-template>

<ng-template #emptyFilteredModelsTemplate>
  <ng-container
    *ngTemplateOutlet="modelZooContent.emptyFilteredModelsTemplate; context: emptyFilteredModelsTemplateContext"
  ></ng-container>
</ng-template>
