@import 'colors';
@import 'fonts';

::ng-deep wb-model-zoo-details-description {
  .title {
    @include wb-subtitle-strong();

    &:not(:first-child) {
      margin-top: 30px;
    }
  }

  .description {
    @include wb-text-8();
    margin-top: 20px;
    color: $brownish-grey;
  }
}
