@import 'fonts';
@import 'colors';

.transformations-config-wrapper {
  border: 1px solid $very-light-pink;
  border-radius: 3px;
  width: 600px;
  height: 160px;
  overflow: auto;

  ::ng-deep {
    table.wb-table.wb-table-on-gray thead tr {
      height: 40px;
    }

    tbody tr {
      cursor: pointer;
    }
  }
}

wb-button {
  margin-left: auto;
}

.error-message {
  margin-top: 10px;
  color: $deep-red;

  @include wb-text-14();
}

.predefined-config-hint {
  display: block;
  margin-top: 10px;
}
