@import 'variables';

:host {
  display: block;
  max-width: 400px;
  padding-bottom: 20px;

  .tip-link {
    flex-shrink: 0;
  }

  wb-config-form-field {
    flex-grow: 1;
  }

  ::ng-deep {
    .config-form-field-select .field-container {
      max-width: unset;
      flex-grow: 1;
    }

    .field-label {
      flex-shrink: 0;
    }

    .mat-form-field-wrapper {
      width: 100%;
      flex-shrink: 1;
      flex-grow: 1;
    }

    .mat-form-field-infix {
      width: 100%;
    }
  }
}

.checkbox-field {
  display: block;
  margin-bottom: 20px;
}
