@import 'colors';
@import 'fonts';

@mixin wb-property-key-value() {
  .property {
    flex-grow: 1;
  }

  .property + .property {
    margin-left: 20px;
  }

  .key {
    @include wb-h5();
    margin-bottom: 20px;
  }

  .value {
    @include wb-label();
    line-height: 22px;
    white-space: pre-wrap;
  }
}

@mixin wb-required-asterix() {
  position: absolute;
  right: -8px;
  top: -10px;
  content: '*';
  color: $deep-red;

  @include wb-subtitle-1();
}

@mixin wb-required-tag() {
  color: $deep-red;
  @include wb-text-15();
}
