@import 'colors';

$min-layout-width: 1200px;

$font-weight-default: normal;
$font-style-default: normal;

$field-error-message-height: 24px;
$header-height: 50px;

$container-padding: 20px;

$mat-field-padding-bottom: 1.34375em;
$mat-field-margin-horizontal: 0.25em;

$layer-table-row-height: 42px;
$layers-graphs-height: 770px;
$chart-icon-size: 30px;
