@import 'fonts';
@import 'variables';

:host {
  display: block;
}

.layer-properties {
  margin-left: 20px;
}

.index:before {
  position: relative;
  top: 10px;
  padding-right: 5px;
  counter-increment: input-layer-counter;
  content: counter(input-layer-counter, upper-alpha) '. ';

  @include wb-subtitle-1();
}

.row {
  display: flex;
  flex-wrap: wrap;

  &.narrow-fields ::ng-deep .field {
    width: 80px;
  }

  .layer-label {
    display: flex;
    margin-right: 20px;
    height: 40px;
    align-items: center;

    @include wb-subtitle-1();
  }

  .layer-remove {
    height: 40px;
    display: flex;
    align-items: center;
    margin-left: 10px;

    ::ng-deep {
      button {
        min-width: 20px;
      }

      mat-icon {
        margin: 0;
      }
    }
  }
}

.freeze-field,
wb-dimensions-input {
  display: block;
  margin-left: 15px;
}
