$wb-accent: (
  50: #e3e7f8,
  100: #b9c3ee,
  200: #8b9ce3,
  300: #5d74d7,
  400: #3a56cf,
  500: $plum,
  600: #1432c0,
  700: #112bb9,
  800: #0d24b1,
  900: #0717a4,
  A100: #d0d3ff,
  A200: #9da4ff,
  A400: #6a74ff,
  A700: #515cff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #ffffff,
  ),
);

$wb-warn: (
  50: #f4e1e1,
  100: #e5b4b4,
  200: #d38282,
  300: #c15050,
  400: #b42b2b,
  500: $deep-red,
  600: #9f0404,
  700: #960404,
  800: #8c0303,
  900: #7c0101,
  A100: #ffa9a9,
  A200: #ff7676,
  A400: #ff4343,
  A700: #ff2a2a,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #ffffff,
    A700: #ffffff,
  ),
);
