@import 'variables';

$toggle-icon-size: 20px;

:host {
  display: block;
}

:host ::ng-deep {
  .mat-expansion-panel-header {
    padding: 0;
  }

  .mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:hover:not([aria-disabled='true']) {
    background: inherit;
  }

  .mat-expansion-panel-body {
    padding-left: 0;
  }
}

.checklist-item {
  display: flex;
  flex-direction: column;
  background-color: transparent;

  &:not(:last-child) {
    margin-bottom: $container-padding * 0.5;
  }

  &-toggle-icon {
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    width: $toggle-icon-size;
    height: $toggle-icon-size;

    &.hidden {
      visibility: hidden;
    }
  }

  &-label {
    display: flex;
    align-items: center;
    color: black;
    margin: 0 15px 0 10px;

    &-selection {
      &.not-defined {
        color: $deep-red;

        &::before {
          content: 'not ';
        }
      }
    }
  }

  &-status-icon {
    display: flex;
    align-self: center;
    font-size: 22px;
    color: $deep-red;

    &-checked {
      color: $green;
    }
  }

  &-details {
    ::ng-deep a {
      overflow: hidden;
      display: block;
      text-overflow: ellipsis;
    }
  }
}
